a {
  text-decoration: none;
  padding: 5px;
}

#dashboard-page {
  #hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #hero-section-img {
      width: 700px;
      height: 700px;
      padding-right: 100px;
    }

    #hero-section-content {
      padding: 100px;

      #hero-title {
        h1 {
          font-weight: 400;
        }

        h4 {
          color: #616161;
          font-weight: 400;
        }
      }

      #hero-btn {
        margin-top: 100px;
        width: 500px;
      }

      #hero-body {
        margin-top: 64px;
        display: flex;
        flex-direction: column;

        #hero-body-rockets-container {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
          max-width: 50vw;

          .hero-body-rocket {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            img {
              width: 100px;
            }
          }
        }
      }
    }
  }

  #dashboard-content {
    h4 {
      margin-bottom: 30px;
    }

    #dashboard-content-articles {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 30px;
      row-gap: 50px;
    }
  }
}
