body {
    background-color:#F1F6FE;
    font-family:serif;

}
a {
    text-decoration: none;
    padding: 5px;
}

#bgcolor {
    background-color: #F1F6FE;
}

#padding {
    padding-top: 40px;
}

#navbarpadding {
    padding-left: 30px;
}

#card {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 500px;
    top: 500px;

}

#nav-bar {
    background-color: 'white';
    padding-bottom: 40px;
}

#rocket-width {
    width: 90%;
}

#text-width {
    width: 50%;
    padding-top:auto;
}

#align {
    text-align: left;
}

#round {
    border-radius: 50%;
}

#box {
    display: flex;
    column-gap: 0px;
    align-content: space-between;
  }

#navbarStyle {
    position: absolute;
    color : 'white';
    background-color:#F1F6FE;
    left: 6.03%;
    right: 87.87%;
    top: 5.08%;
    bottom: 93.53%;
}

#button {
    background-color:white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 36px;
  }

  #card {
    display: flex;
    width: 50%;
    height: 30%;
  }

  #card-items {
      padding-left: 20px;
      padding-right: 20px;
  }