nav {
  margin: 0 5vw;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#left > img {
  margin-right: 20px;
}

#left > div > h4 {
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 0;
}

#right,
#left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#right > img {
  margin-right: 10px;
  border-radius: 40px;
}

#right > p {
  margin: 0;
}
