@import "./colours.scss";

.blue-bg-btn {
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  background-color: $light-blue;
  color: $blue;
  border: none;
  padding: 15px 20px;
  transition: all 0.3s ease-in-out;
}

.blue-bg-btn:hover {
  background-color: $blue;
  color: $light-blue;
}
